.form-label {
    display: inline-block;
    min-width: 75px;
    vertical-align: top;
    margin: 15px 0;
}
.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-input {
    width: 200px;
    font-size: 16px;
}

.login-form{
    margin: 20px 0;
}
   