.portfolio__posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    gap: 20px;
}

.portfolio__post{
    display: flex;
    flex-direction: column;
    width: 30em;
    height: 300px;
    /* padding: 25px; */
    border-radius: 20px;
    background-color: gainsboro;
    justify-content: flex-end;
    overflow: hidden;
}

.post_wrapper{
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 15px;
}

.post__title{
    font-size: 28px;
    font-weight: 500;
}

.post__bg{
    object-fit:cover;
    overflow:hidden;
    position:static;
    top:25px;
    /* left: -25px; */
}

/* Addpost */
.post-btn{
    margin-top: 20px;
}

.addpost-form{
    font-size: 20px;
}

/* Post page */
.post__about{
    padding: 30px 0;
    background-color: rgb(235, 235, 235);
}

.post__wrapper{
    display: flex;
    justify-content: space-between;
}
.post__title{
    font-size: 48px;
    font-weight: 600;
}

.post__author{
    font-size: 32px;
}

.post__thumbnail{
    width: 50%;
    height: 100%;
}
.post__text{
    padding: 30px 0;
    font-size: 18px;
}

.post__content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.post__files{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.post__content-img{
    padding: 10px;
    height: 300px;
    width: calc(100% / 3);
    display: inline-block;
    object-fit:contain;
}