@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');
@import url('./posts.css');
@import url('./forms.css');


*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
  }

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}
.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__top{
    display: flex;
    background: #000;
    padding: 100px 0;
    width: 100%;
    justify-content: center;

}

.header__name{
    display: flex;
    color: #FFF;
    font-size: 72px;
    font-weight: 600;
}

.header__menu{
    width: 100%;
    background: rgb(78, 78, 78);
    color: #FFF;
}

.header__nav{
    padding: 20px 0;
}

.nav-list{
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
}

.nav-list__item{
    font-size: 24px;
    font-weight: 500;
}

.left{
    float: left;
    /* padding-bottom: 20px; */
}

.last{
    margin-left: auto;
}

.btn{
    display: flex;
    width: 100px;
    height: 40px;
    background-color: #ecebeb;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.add-post-btn{
    width:fit-content;
    padding: 5px 25px;
    font-size: 24px;
}

.list-pages {
    text-align: center;
    margin: 0 0 20px 0;
}
.list-pages ul {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}
.list-pages ul li {
    display: inline-block;
    margin: 0 20px 0 0;
}
.list-pages .page-num, .page-num-selected {
    display: inline-block;
    width: 60px;
    height: 44px;
    padding: 16px 0 0 0;
    border: 1px solid #d0d0d0;
    border-radius: 30px;
}

.list-pages a {
    color: #000;
    font-size: 24px;
    text-decoration: none;
}
.list-pages .page-num:hover {
    box-shadow: 3px 3px 1px #d0d0d0; 
}
.list-pages .page-num-selected {
    border: none;
    color: #000;
    font-size: 20px;
}
.list-pages .page-num-selected:hover {
    box-shadow: none; 
}

.search-form{
    padding: 20px 0;
}

.search-btn{
    margin-top: 15px;
}

input,  textarea{
    border-style:solid;
    border-radius: 3px;
    border-width: 2px;
    border-color: #cccccc;
    background-color: #ecebeb;
    padding: 5px;
}

.register__form label{
    font-size: 20px;
}

.register__form input{
    float: right;
}

.register__form{
    width: 32%;
    margin: 20px 0;
}

.register-btn{
    padding:0 70px;
}
   
   