{% extends "blog/base.html" %}

{% block content %}
<div class="container">
    <a href="{% url 'addpost' %}" class="add-post-btn btn">Добавить пост</a>

    <form method="get" action="{% url 'portfolio' %}" class="search-form">
        <div class="search-item">{{ st_filter.form.as_p }}</div>
        <button type="submit" class="btn search-btn">Искать</button>
        </form>
       

    <div class="portfolio__posts">
        {% for p in page_obj %}
        <div class="portfolio__post">
            <img src="{{ p.thumbnail.url }}" alt="" class="post__bg">
            <div class="post_wrapper">
                <p class="post__title">{{p.title}}</p>
                <a href="{{p.get_absolute_url}}" class="post__btn btn">Открыть</a>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if page_obj.has_other_pages %}
        <nav class="list-pages">
            <ul>
                {% if page_obj.has_previous %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                    </li>
                {% endif %}

                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-num page-num-selected">{{ p }}</li>
                        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <li class="page-num">
                        <a href="?page={{ p }}">{{ p }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    {% endif %}


</div>
{% endblock content %}