{% extends "blog/base.html" %}

{% block content %}
<div class="post__about">
    <div class="container">
        <div class="post__wrapper">
            <div class="post__content">
                <p class="post__title">{{post.title}}</p>
                <p class="post__author">Автор: {{post.user}}</p>
                <p class="post__text">{{post.text}}</p>
            </div>
            <img src="{{post.thumbnail.url}}" alt="" class="post__thumbnail">
        </div>
    </div>
</div>

<div class="container">
    <div class="post__files">
        {% for f in images %}
            <img src="{{f.file.url}}" alt="" class="post__content-img">
        {% endfor %}
    </div>
</div>
{% endblock content %}